body {
	background: #000;
	overflow: hidden;
}
canvas {
  background: #000;
	display: block;
  position: fixed;
  top: 0;
  bottom: 0;
}
#starsCanvas,#draw{
  position: fixed;
  top: 0;
  bottom: 0;
  display: block;
}